
.profile
.root_hist
._configuration.txt
._make_fileslist.sh
.bash_history
.bash_logout
.bashrc
.DS_Store
.mkshrc
.ssh/authorized_keys
.ssh/id_ed25519
.ssh/known_hosts
comparerootfiles/compareRootFiles.C
comparerootfiles/comparaison/default_proton_cuts.root
comparerootfiles/comparaison/default_lambda_cuts.root
comparerootfiles/comparaison/cxx_cuts.root
comparerootfiles/comp.root
comparerootfiles/comp.pdf
comparerootfiles/CMakeLists.txt
comparerootfiles/build/Makefile
comparerootfiles/build/compareRootFiles
comparerootfiles/build/CMakeFiles/TargetDirectories.txt
comparerootfiles/build/CMakeFiles/progress.marks
comparerootfiles/build/CMakeFiles/Makefile2
comparerootfiles/build/CMakeFiles/Makefile.cmake
comparerootfiles/build/CMakeFiles/feature_tests.cxx
comparerootfiles/build/CMakeFiles/feature_tests.bin
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/progress.make
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/link.txt
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/flags.make
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/DependInfo.cmake
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/depend.make
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/depend.internal
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/CXX.includecache
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/compareRootFiles.C.o
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/cmake_clean.cmake
comparerootfiles/build/CMakeFiles/compareRootFiles.dir/build.make
comparerootfiles/build/CMakeFiles/CMakeOutput.log
comparerootfiles/build/CMakeFiles/CMakeDirectoryInformation.cmake
comparerootfiles/build/CMakeFiles/cmake.check_cache
comparerootfiles/build/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
comparerootfiles/build/CMakeFiles/3.15.3/CompilerIdCXX/a.out
comparerootfiles/build/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
comparerootfiles/build/CMakeFiles/3.15.3/CompilerIdC/a.out
comparerootfiles/build/CMakeFiles/3.15.3/CMakeSystem.cmake
comparerootfiles/build/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
comparerootfiles/build/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
comparerootfiles/build/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
comparerootfiles/build/CMakeFiles/3.15.3/CMakeCCompiler.cmake
comparerootfiles/build/CMakeCache.txt
comparerootfiles/build/cmake_install.cmake
comparerootfiles/._compareRootFiles.C
comparerootfiles/._comp.pdf
comparerootfiles/._CMakeLists.txt
comparerootfiles/._.DS_Store
atree/sim-rec_pz.root
atree/distB.root
atree/configuration.txt
atree/aTqa_chain.C
atree/analysis_tree.root
pf_kaon/default_cuts/pfsimple/1/analysis_tree.root
pf_kaon/default_cuts/pfsimple/1/read_init.root
pf_kaon/default_cuts/pfsimple/10/analysis_tree.root
pf_kaon/default_cuts/pfsimple/10/read_init.root
pf_kaon/default_cuts/pfsimple/100/analysis_tree.root
pf_kaon/default_cuts/pfsimple/100/read_init.root
pf_kaon/default_cuts/pfsimple/11/analysis_tree.root
pf_kaon/default_cuts/pfsimple/11/read_init.root
pf_kaon/default_cuts/pfsimple/12/analysis_tree.root
pf_kaon/default_cuts/pfsimple/12/read_init.root
pf_kaon/default_cuts/pfsimple/13/analysis_tree.root
pf_kaon/default_cuts/pfsimple/13/read_init.root
pf_kaon/default_cuts/pfsimple/14/analysis_tree.root
pf_kaon/default_cuts/pfsimple/14/read_init.root
pf_kaon/default_cuts/pfsimple/15/analysis_tree.root
pf_kaon/default_cuts/pfsimple/15/read_init.root
pf_kaon/default_cuts/pfsimple/16/analysis_tree.root
pf_kaon/default_cuts/pfsimple/16/read_init.root
pf_kaon/default_cuts/pfsimple/17/analysis_tree.root
pf_kaon/default_cuts/pfsimple/17/read_init.root
pf_kaon/default_cuts/pfsimple/18/analysis_tree.root
pf_kaon/default_cuts/pfsimple/18/read_init.root
pf_kaon/default_cuts/pfsimple/19/analysis_tree.root
pf_kaon/default_cuts/pfsimple/19/read_init.root
pf_kaon/default_cuts/pfsimple/2/analysis_tree.root
pf_kaon/default_cuts/pfsimple/2/read_init.root
pf_kaon/default_cuts/pfsimple/20/analysis_tree.root
pf_kaon/default_cuts/pfsimple/20/read_init.root
pf_kaon/default_cuts/pfsimple/21/analysis_tree.root
pf_kaon/default_cuts/pfsimple/21/read_init.root
pf_kaon/default_cuts/pfsimple/22/analysis_tree.root
pf_kaon/default_cuts/pfsimple/22/read_init.root
pf_kaon/default_cuts/pfsimple/23/analysis_tree.root
pf_kaon/default_cuts/pfsimple/23/read_init.root
pf_kaon/default_cuts/pfsimple/24/analysis_tree.root
pf_kaon/default_cuts/pfsimple/24/read_init.root
pf_kaon/default_cuts/pfsimple/25/analysis_tree.root
pf_kaon/default_cuts/pfsimple/25/read_init.root
pf_kaon/default_cuts/pfsimple/26/analysis_tree.root
pf_kaon/default_cuts/pfsimple/26/read_init.root
pf_kaon/default_cuts/pfsimple/27/analysis_tree.root
pf_kaon/default_cuts/pfsimple/27/read_init.root
pf_kaon/default_cuts/pfsimple/28/analysis_tree.root
pf_kaon/default_cuts/pfsimple/28/read_init.root
pf_kaon/default_cuts/pfsimple/29/analysis_tree.root
pf_kaon/default_cuts/pfsimple/29/read_init.root
pf_kaon/default_cuts/pfsimple/3/analysis_tree.root
pf_kaon/default_cuts/pfsimple/3/read_init.root
pf_kaon/default_cuts/pfsimple/30/analysis_tree.root
pf_kaon/default_cuts/pfsimple/30/read_init.root
pf_kaon/default_cuts/pfsimple/31/analysis_tree.root
pf_kaon/default_cuts/pfsimple/31/read_init.root
pf_kaon/default_cuts/pfsimple/32/analysis_tree.root
pf_kaon/default_cuts/pfsimple/32/read_init.root
pf_kaon/default_cuts/pfsimple/33/analysis_tree.root
pf_kaon/default_cuts/pfsimple/33/read_init.root
pf_kaon/default_cuts/pfsimple/34/analysis_tree.root
pf_kaon/default_cuts/pfsimple/34/read_init.root
pf_kaon/default_cuts/pfsimple/35/analysis_tree.root
pf_kaon/default_cuts/pfsimple/35/read_init.root
pf_kaon/default_cuts/pfsimple/36/analysis_tree.root
pf_kaon/default_cuts/pfsimple/36/read_init.root
pf_kaon/default_cuts/pfsimple/37/analysis_tree.root
pf_kaon/default_cuts/pfsimple/37/read_init.root
pf_kaon/default_cuts/pfsimple/38/analysis_tree.root
pf_kaon/default_cuts/pfsimple/38/read_init.root
pf_kaon/default_cuts/pfsimple/39/analysis_tree.root
pf_kaon/default_cuts/pfsimple/39/read_init.root
pf_kaon/default_cuts/pfsimple/4/analysis_tree.root
pf_kaon/default_cuts/pfsimple/4/read_init.root
pf_kaon/default_cuts/pfsimple/40/analysis_tree.root
pf_kaon/default_cuts/pfsimple/40/read_init.root
pf_kaon/default_cuts/pfsimple/41/analysis_tree.root
pf_kaon/default_cuts/pfsimple/41/read_init.root
pf_kaon/default_cuts/pfsimple/42/analysis_tree.root
pf_kaon/default_cuts/pfsimple/42/read_init.root
pf_kaon/default_cuts/pfsimple/43/analysis_tree.root
pf_kaon/default_cuts/pfsimple/43/read_init.root
pf_kaon/default_cuts/pfsimple/44/analysis_tree.root
pf_kaon/default_cuts/pfsimple/44/read_init.root
pf_kaon/default_cuts/pfsimple/45/analysis_tree.root
pf_kaon/default_cuts/pfsimple/45/read_init.root
pf_kaon/default_cuts/pfsimple/46/analysis_tree.root
pf_kaon/default_cuts/pfsimple/46/read_init.root
pf_kaon/default_cuts/pfsimple/47/analysis_tree.root
pf_kaon/default_cuts/pfsimple/47/read_init.root
pf_kaon/default_cuts/pfsimple/48/analysis_tree.root
pf_kaon/default_cuts/pfsimple/48/read_init.root
pf_kaon/default_cuts/pfsimple/49/analysis_tree.root
pf_kaon/default_cuts/pfsimple/49/read_init.root
pf_kaon/default_cuts/pfsimple/5/analysis_tree.root
pf_kaon/default_cuts/pfsimple/5/read_init.root
pf_kaon/default_cuts/pfsimple/50/analysis_tree.root
pf_kaon/default_cuts/pfsimple/50/read_init.root
pf_kaon/default_cuts/pfsimple/51/analysis_tree.root
pf_kaon/default_cuts/pfsimple/51/read_init.root
pf_kaon/default_cuts/pfsimple/52/analysis_tree.root
pf_kaon/default_cuts/pfsimple/52/read_init.root
pf_kaon/default_cuts/pfsimple/53/analysis_tree.root
pf_kaon/default_cuts/pfsimple/53/read_init.root
pf_kaon/default_cuts/pfsimple/54/analysis_tree.root
pf_kaon/default_cuts/pfsimple/54/read_init.root
pf_kaon/default_cuts/pfsimple/55/analysis_tree.root
pf_kaon/default_cuts/pfsimple/55/read_init.root
pf_kaon/default_cuts/pfsimple/56/analysis_tree.root
pf_kaon/default_cuts/pfsimple/56/read_init.root
pf_kaon/default_cuts/pfsimple/57/analysis_tree.root
pf_kaon/default_cuts/pfsimple/57/read_init.root
pf_kaon/default_cuts/pfsimple/58/analysis_tree.root
pf_kaon/default_cuts/pfsimple/58/read_init.root
pf_kaon/default_cuts/pfsimple/59/analysis_tree.root
pf_kaon/default_cuts/pfsimple/59/read_init.root
pf_kaon/default_cuts/pfsimple/6/analysis_tree.root
pf_kaon/default_cuts/pfsimple/6/read_init.root
pf_kaon/default_cuts/pfsimple/60/analysis_tree.root
pf_kaon/default_cuts/pfsimple/60/read_init.root
pf_kaon/default_cuts/pfsimple/61/analysis_tree.root
pf_kaon/default_cuts/pfsimple/61/read_init.root
pf_kaon/default_cuts/pfsimple/62/analysis_tree.root
pf_kaon/default_cuts/pfsimple/62/read_init.root
pf_kaon/default_cuts/pfsimple/63/analysis_tree.root
pf_kaon/default_cuts/pfsimple/63/read_init.root
pf_kaon/default_cuts/pfsimple/64/analysis_tree.root
pf_kaon/default_cuts/pfsimple/64/read_init.root
pf_kaon/default_cuts/pfsimple/65/analysis_tree.root
pf_kaon/default_cuts/pfsimple/65/read_init.root
pf_kaon/default_cuts/pfsimple/66/analysis_tree.root
pf_kaon/default_cuts/pfsimple/66/read_init.root
pf_kaon/default_cuts/pfsimple/67/analysis_tree.root
pf_kaon/default_cuts/pfsimple/67/read_init.root
pf_kaon/default_cuts/pfsimple/68/analysis_tree.root
pf_kaon/default_cuts/pfsimple/68/read_init.root
pf_kaon/default_cuts/pfsimple/69/analysis_tree.root
pf_kaon/default_cuts/pfsimple/69/read_init.root
pf_kaon/default_cuts/pfsimple/7/analysis_tree.root
pf_kaon/default_cuts/pfsimple/7/read_init.root
pf_kaon/default_cuts/pfsimple/70/analysis_tree.root
pf_kaon/default_cuts/pfsimple/70/read_init.root
pf_kaon/default_cuts/pfsimple/71/analysis_tree.root
pf_kaon/default_cuts/pfsimple/71/read_init.root
pf_kaon/default_cuts/pfsimple/72/analysis_tree.root
pf_kaon/default_cuts/pfsimple/72/read_init.root
pf_kaon/default_cuts/pfsimple/73/analysis_tree.root
pf_kaon/default_cuts/pfsimple/73/read_init.root
pf_kaon/default_cuts/pfsimple/74/analysis_tree.root
pf_kaon/default_cuts/pfsimple/74/read_init.root
pf_kaon/default_cuts/pfsimple/75/analysis_tree.root
pf_kaon/default_cuts/pfsimple/75/read_init.root
pf_kaon/default_cuts/pfsimple/76/analysis_tree.root
pf_kaon/default_cuts/pfsimple/76/read_init.root
pf_kaon/default_cuts/pfsimple/77/analysis_tree.root
pf_kaon/default_cuts/pfsimple/77/read_init.root
pf_kaon/default_cuts/pfsimple/78/analysis_tree.root
pf_kaon/default_cuts/pfsimple/78/read_init.root
pf_kaon/default_cuts/pfsimple/79/analysis_tree.root
pf_kaon/default_cuts/pfsimple/79/read_init.root
pf_kaon/default_cuts/pfsimple/8/analysis_tree.root
pf_kaon/default_cuts/pfsimple/8/read_init.root
pf_kaon/default_cuts/pfsimple/80/analysis_tree.root
pf_kaon/default_cuts/pfsimple/80/read_init.root
pf_kaon/default_cuts/pfsimple/81/analysis_tree.root
pf_kaon/default_cuts/pfsimple/81/read_init.root
pf_kaon/default_cuts/pfsimple/82/analysis_tree.root
pf_kaon/default_cuts/pfsimple/82/read_init.root
pf_kaon/default_cuts/pfsimple/83/analysis_tree.root
pf_kaon/default_cuts/pfsimple/83/read_init.root
pf_kaon/default_cuts/pfsimple/84/analysis_tree.root
pf_kaon/default_cuts/pfsimple/84/read_init.root
pf_kaon/default_cuts/pfsimple/85/analysis_tree.root
pf_kaon/default_cuts/pfsimple/85/read_init.root
pf_kaon/default_cuts/pfsimple/86/analysis_tree.root
pf_kaon/default_cuts/pfsimple/86/read_init.root
pf_kaon/default_cuts/pfsimple/87/analysis_tree.root
pf_kaon/default_cuts/pfsimple/87/read_init.root
pf_kaon/default_cuts/pfsimple/88/analysis_tree.root
pf_kaon/default_cuts/pfsimple/88/read_init.root
pf_kaon/default_cuts/pfsimple/89/analysis_tree.root
pf_kaon/default_cuts/pfsimple/89/read_init.root
pf_kaon/default_cuts/pfsimple/9/analysis_tree.root
pf_kaon/default_cuts/pfsimple/9/read_init.root
pf_kaon/default_cuts/pfsimple/90/analysis_tree.root
pf_kaon/default_cuts/pfsimple/90/read_init.root
pf_kaon/default_cuts/pfsimple/91/analysis_tree.root
pf_kaon/default_cuts/pfsimple/91/read_init.root
pf_kaon/default_cuts/pfsimple/92/analysis_tree.root
pf_kaon/default_cuts/pfsimple/92/read_init.root
pf_kaon/default_cuts/pfsimple/93/analysis_tree.root
pf_kaon/default_cuts/pfsimple/93/read_init.root
pf_kaon/default_cuts/pfsimple/94/analysis_tree.root
pf_kaon/default_cuts/pfsimple/94/read_init.root
pf_kaon/default_cuts/pfsimple/95/analysis_tree.root
pf_kaon/default_cuts/pfsimple/95/read_init.root
pf_kaon/default_cuts/pfsimple/96/analysis_tree.root
pf_kaon/default_cuts/pfsimple/96/read_init.root
pf_kaon/default_cuts/pfsimple/97/analysis_tree.root
pf_kaon/default_cuts/pfsimple/97/read_init.root
pf_kaon/default_cuts/pfsimple/98/analysis_tree.root
pf_kaon/default_cuts/pfsimple/98/read_init.root
pf_kaon/default_cuts/pfsimple/99/analysis_tree.root
pf_kaon/default_cuts/pfsimple/99/read_init.root
._.DS_Store
._aTqa_chain.C
1.analysistree.root
100.analysistree.root
a.out
AnalysisTree/
event1.c
filelist.txt
fileOut.root
fileslist.txt
fileslist5000.txt
id_ed25519.pub
julian_7.c
make_fileslist.sh
pf_kaon/batchrun_read_init1.sh
pf_kaon/comp.root
pf_kaon/default_cuts/kaons.root
pf_kaon/default_cuts/pfKaons.root
pf_kaon/default_cuts/pfsimple/pfKaons.root
pf_kaon/fileslist.txt
pf_kaon/nocutscongif.txt
pf_kaon/nocutstopo.root
pf_kaon/pfRead.c
pf_kaon/pfsimple22.0/430/.nfs0000000323086e740000092d
pf_kaon/pfsimple22.07/430/analysis_tree.root
pf_kaon/pfsimple22.07/431/analysis_tree.root
pf_kaon/pfsimple22.07/431/read_init_bckgr.root
pf_kaon/pfsimple22.07/431/read_init_sign.root
pf_kaon/pfsimple22.07/432/analysis_tree.root
pf_kaon/pfsimple22.07/432/read_init_bckgr.root
pf_kaon/pfsimple22.07/432/read_init_sign.root
pf_kaon/pfsimple_configuration.txt
pf_kaon/slurm_pfread_init1.sh
pf_kaon/test.root
pf_kaon/test27.root
pf_kaon/topologic1/._comp.pdf
pf_kaon/topologic1/comp.pdf
pf_kaon/topologic1/comp.root
pf_kaon/topologic1/pfKaons_bckgr.root
pf_kaon/topologic1/pfKaons_sign.root
pf_kaon/topologic1/topo.root
pf_results/._.DS_Store
pf_results/._comp.pdf
pf_results/._compareRootFiles.C
pf_results/comp.pdf
pf_results/comp.root
pf_results/comparison/0.95.root
pf_results/comparison/0.98.root
pf_results/comparison/0.99825.root
pf_results/comparison/0.999825.root
pf_results/filelist.txt
pf_results/fileslist.txt
pf_results/lambda/dd/analysis_tree.root
pf_results/make_fileslist.sh
pf_results/simulatedHistograms.root
pf_results/test1.root
pf_results/test1307.1.root
pf_results/test1307.root
pf_results/test1407.1.root
pf_simple/
prezi/._.DS_Store
prezi/20.07/._.DS_Store
prezi/20.07/kod/._.DS_Store
prezi/20.07/kod/1.analysistree.root
prezi/20.07/pfsimple/._.DS_Store
prezi/20.07/pfsimple/comparison/._.DS_Store
prezi/20.07/pfsimple/comparison/graphs99825/._.DS_Store
prezi/20.07/pfsimple/comparison/Style_Modern.C
prezi/20.07/rootfiles/._.DS_Store
prezi/20.07/rootfiles/events/._hcbm.pdf
prezi/20.07/rootfiles/events/._hcy.pdf
prezi/20.07/rootfiles/events/._hdx.pdf
prezi/20.07/rootfiles/events/._hEpsd.pdf
prezi/20.07/rootfiles/momentums/._hc_qp_mass2.pdf
prezi/20.07/rootfiles/momentums/._hceta.pdf
prezi/20.07/rootfiles/momentums/._hcp.pdf
prezi/20.07/rootfiles/momentums/._hcphi.pdf
prezi/20.07/rootfiles/momentums/._hcpt.pdf
prezi/20.07/rootfiles/momentums/._hcpx.pdf
prezi/20.07/rootfiles/momentums/._hcpxpy.pdf
prezi/20.07/rootfiles/momentums/._hcpy.pdf
prezi/20.07/rootfiles/momentums/._hcpz.pdf
prezi/20.07/rootfiles/momentums/._hreta.pdf
prezi/20.07/rootfiles/momentums/._hrp.pdf
prezi/20.07/rootfiles/momentums/._hrphi.pdf
prezi/20.07/rootfiles/momentums/._hrpt.pdf
prezi/20.07/rootfiles/momentums/._hrpx.pdf
prezi/20.07/rootfiles/momentums/._hrpy.pdf
prezi/20.07/rootfiles/momentums/._hrpz.pdf
prezi/20.07/rootfiles/momentums/._hseta.pdf
prezi/20.07/rootfiles/momentums/._hsp.pdf
prezi/20.07/rootfiles/momentums/._hsphi.pdf
prezi/20.07/rootfiles/momentums/._hspt.pdf
prezi/20.07/rootfiles/momentums/._hspx.pdf
prezi/20.07/rootfiles/momentums/._hspy.pdf
prezi/20.07/rootfiles/momentums/._hspz.pdf
prezi/20.07/rootfiles/momentums/._hsrap.pdf
prezi/20.07/rootfiles/momentums/._hsx.pdf
prezi/20.07/rootfiles/momentums/._hsy.pdf
prezi/20.07/rootfiles/momentums/._hsz.pdf
prezi/27.07/._.DS_Store
prezi/27.07/._cbm_progress_27.08.pptx
prezi/27.07/._~$cbm_progress_27.08.pptx
prezi/27.07/cbm_progress_27.08.pptx
prezi/27.07/histograms/._.DS_Store
prezi/27.07/histograms/batchrun.sh
prezi/27.07/histograms/batchrun1.sh
prezi/27.07/histograms/batchrun_create.sh
prezi/27.07/histograms/batchrun_read_init.sh
prezi/27.07/histograms/batchrun_read_init1.sh
prezi/27.07/histograms/batchrun_read_init_all.sh
prezi/27.07/histograms/batchrun_read_init_bckgr.sh
prezi/27.07/histograms/batchrun_read_init_sign.sh
prezi/27.07/histograms/batchrun_sim.sh
prezi/27.07/histograms/comp.root
prezi/27.07/histograms/default/._hcanmass.pdf
prezi/27.07/histograms/default/._hcord_px_py.pdf
prezi/27.07/histograms/default/._hcord_rap_pt.pdf
prezi/27.07/histograms/default/._hcord_rphi_pt.pdf
prezi/27.07/histograms/default/._hcordr_phi_pt.pdf
prezi/27.07/histograms/default/._hcordr_px_py.pdf
prezi/27.07/histograms/default/._hcordr_rap_pt.pdf
prezi/27.07/histograms/default/._hcorr_phi_pt.pdf
prezi/27.07/histograms/default/._hcorr_rap_pt.pdf
prezi/27.07/histograms/default/hcanpt.pdf
prezi/27.07/histograms/default/kaons_default.root
prezi/27.07/histograms/kaons_default.root
prezi/27.07/histograms/make_fileslist.sh
prezi/27.07/histograms/newpfSimulated.c
prezi/27.07/histograms/nocuts/._chi2geo.pdf
prezi/27.07/histograms/nocuts/._chi2geo.png
prezi/27.07/histograms/nocuts/._chi2prim.pdf
prezi/27.07/histograms/nocuts/._chi2prim.png
prezi/27.07/histograms/nocuts/._chi2topo.pdf
prezi/27.07/histograms/nocuts/._chi2topo.png
prezi/27.07/histograms/nocuts/._cospi.pdf
prezi/27.07/histograms/nocuts/._cospi1.pdf
prezi/27.07/histograms/nocuts/._dca.pdf
prezi/27.07/histograms/nocuts/._dca.png
prezi/27.07/histograms/nocuts/._ldl.png
prezi/27.07/histograms/nocuts/pfKaons_bckgr.root
prezi/27.07/histograms/nocuts/pfKaons_sign.root
prezi/27.07/histograms/pfRead.c
prezi/27.07/histograms/pfRead_final.c
prezi/27.07/histograms/pfRead_initial.c
prezi/27.07/histograms/pfRead_initial_all.c
prezi/27.07/histograms/pfRead_initial_bckgr.c
prezi/27.07/histograms/pfRead_initial_sign.c
prezi/27.07/histograms/pfRead_topo.c
prezi/27.07/histograms/read_init.root
prezi/27.07/histograms/slurm_pfread_init.sh
prezi/27.07/histograms/slurm_pfread_init1.sh
prezi/27.07/histograms/slurm_pfread_init_all.sh
prezi/27.07/histograms/slurm_pfread_init_bckgr.sh
prezi/27.07/histograms/slurm_pfread_init_sign.sh
prezi/27.07/histograms/slurm_pfsimplecreate.sh
prezi/27.07/histograms/slurm_pfsimpleread.sh
prezi/27.07/histograms/slurm_pfsimulated.sh
prezi/27.07/histograms/step1cuts/._angle1.pdf
prezi/27.07/histograms/step1cuts/._angle2.pdf
prezi/27.07/histograms/step1cuts/._chi2geo.pdf
prezi/27.07/histograms/step1cuts/._chi2prim.pdf
prezi/27.07/histograms/step1cuts/._chi2topo.pdf
prezi/27.07/histograms/step1cuts/._dca.pdf
prezi/27.07/histograms/step1cuts/._hcanmass.pdf
prezi/27.07/histograms/step1cuts/._ldl.pdf
prezi/27.07/histograms/test.root
prezi/27.07/histograms/top_selection.c
prezi/27.07/kod/._main.cpp
prezi/27.07/kod/main.cpp
prezi/27.07/kod/main_nocuts.cpp
prezi/27.07/kod/newpfSimulated.c
prezi/27.07/kod/pfRead.c
prezi/27.07/kod/pfRead_final.c
prezi/27.07/kod/pfRead_initial_bckgr.c
prezi/27.07/kod/pfRead_initial_sign.c
prezi/27.07/kod/pfRead_topo.c
prezi/27.07/kod/top_selection.c
prezi/27.07/nocutscongif.txt
prezi/27.07/~$cbm_progress_27.08.pptx
